
<div class="row">
    <div class="col-md-11">
        <div class="row">
            <h2 class="CVhead" data-toggle="collapse" data-target="#kq">Key Qualifications</h2>
            <div id="kq" class="collapse in">
                Key Qual text
            </div>
        </div>
        <div class="row">
            <h2 class="CVhead" data-toggle="collapse" data-target="#ed">Education</h2>
            <div id="ed" class="collapse in">
                Education text
            </div>
        </div>
        <div class="row">
            <h2 class="CVhead" data-toggle="collapse" data-target="#we">Work Experience</h2>
            <div id="we" class="collapse in">
                Work exp text
            </div>
        </div>
        <div class="row">
            <h2 class="CVhead" data-toggle="collapse" data-target="#cc">Course & Certification</h2>
            <div id="cc" class="collapse in">
                c&c text
            </div>
        </div>
        <div class="row">
            <h2 class="CVhead" data-toggle="collapse" data-target="#la">Languages</h2>
            <div id="la" class="collapse in">
                lang text
            </div>
        </div>
        <div class="row">
            <h2 class="CVhead" data-toggle="collapse" data-target="#ot">Other</h2>
            <div id="ot" class="collapse in">
                other text
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
