
<div class="row">
    <div class="col-md-11">
        <h2 id="kqhead" data-toggle="collapse" data-target="#kq">Key Qualifications</h2>
        <div id="kq" class="collapse in">
            Key Qual text
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
