@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" type="button">About</button>
            </div>
        </div>
        <div class="row">
            <div class="profile-div">
                <img src="@Url.Content("~/images/20.png")" class="profile-image"/>
            </div>
        </div>
        <div class="row" style="margin-bottom:1.5vw">
            <div style="margin:auto; text-align:center">
                <div class="glyphicon glyphicon-user"></div> André Torsvik <br />
                <div class="glyphicon glyphicon-home"></div> Bekkefaret 14, 4330 Ålgård <br />
                <div class="glyphicon glyphicon-earphone"></div> 90201299 <br />
                <div class="glyphicon glyphicon-envelope"></div> torsvik.andre@gmail.com
            </div>
        </div>
        <div class="row">
            <div style="margin:auto; width:280px" class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="andré-torsvik-20338814b">
                <a class="LI-simple-link" href='https://no.linkedin.com/in/andr%C3%A9-torsvik-20338814b?trk=profile-badge'>André Torsvik</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <h1 class="tester">test text</h1>
    </div>
</div>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>