@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <div class="profile-div">
                <img src="@Url.Content("~/images/20.png")" class="profile-image"/>
            </div>
        </div>
        <div class="row" style="margin-bottom:1.5vw">
            <div style="margin:auto; text-align:center">
                <div class="glyphicon glyphicon-user"></div> André Torsvik <br />
                <div class="glyphicon glyphicon-home"></div> Bekkefaret 14, 4330 Ålgård <br />
                <div class="glyphicon glyphicon-earphone"></div> 90201299 <br />
                <div class="glyphicon glyphicon-envelope"></div> torsvik.andre@gmail.com
            </div>
        </div>
        <div class="row">
            <div style="margin:auto; width:280px" class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="andré-torsvik-20338814b">
                <a class="LI-simple-link" href='https://no.linkedin.com/in/andr%C3%A9-torsvik-20338814b?trk=profile-badge'>André Torsvik</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row" style="margin-top:1.5vw">
            <div class="col-md-2" style="text-align:center">
                <button class="btn btn-lg btn-primary" type="button" style="margin:auto" id="cont-button">CV</button>
            </div>
            <div class="col-md-8" style="text-align:center">
                <h1 id="cont-title" style="display:inline">About</h1>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" id="cont" style="margin-left:1.5vw">
            @Html.Partial("_About")
        </div>
    </div>
</div>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<script>
    $(document).ready(function () {
        var current = "about";

        var submit = function () {
            var http = new XMLHttpRequest();

            http.open("POST", '@Url.Action("MainContent")', true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            http.onreadystatechange = function () {
                if (http.readyState == 4 && http.status == 200) {
                    $('#cont').html(http.responseText);
                    if (current == "about") {
                        $('#cont-button').html("About").trigger("create");
                        $('#cont-title').html("Curriculum Vitae").trigger("create");
                        current = "cv";
                    }
                    else {
                        $('#cont-button').html("CV").trigger("create");
                        $('#cont-title').html("About").trigger("create");
                        current = "about";
                    }
                }
            }
            http.send("cont=" + ((current == "about") ? "cv" : "about"));
        }

        $('#cont-button').click(function () {
            submit();
        });
    });
</script>