@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-4">
        <div class="profile-div">
            <img src="@Url.Content("~/images/20.png")" class="profile-image"/>
        </div>
    </div>
    <div class="col-sm-8">
        <h1 class="tester">test text</h1>
    </div>
</div>